/IvaWrapperAPI/build/

/IvaWrapperWeb/nbproject/private/
/IvaWrapperWeb/build/
/IvaWrapperWeb/dist/

/IvaWrapperTest/nbproject/private/
/IvaWrapperTest/build/
/IvaWrapperTest/dist/

/WrapperCommons/nbproject/private/
/WrapperCommons/build/
/WrapperCommons/dist/

/AndroidClient/nbproject/private/
/AndroidClient/build/
/AndroidClient/dist/

/ConnectionUtils/dist
/ConnectionUtils/nbproject/private
/ConnectionUtils/build/classes/com/nebeltv/ivawrapper