/IvaWrapperAPI/build/

/IvaWrapperWeb/nbproject/private/
/IvaWrapperWeb/build/
/IvaWrapperWeb/dist/

/IVAtest/nbproject/private/
/IVAtest/build/
/IVAtest/dist/

/WrapperCommons/nbproject/private/
/WrapperCommons/build/
/WrapperCommons/dist/

/AndroidClient/nbproject/private/
/AndroidClient/build/
/AndroidClient/dist/
/ConnectionUtils/dist

/ConnectionUtils/nbproject/private

/ConnectionUtils/build/classes/com/nebeltv/ivawrapper
